apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-worker
  namespace: payment-system
spec:
  replicas: 2
  selector:
    matchLabels:
      app: payment-worker
  template:
    metadata:
      labels:
        app: payment-worker
    spec:
      containers:
        - name: payment-worker
          image: payment-worker:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: TEMPORAL_ADDRESS
              value: temporal:7233
