apiVersion: v1
kind: Service
metadata:
  name: temporal
  namespace: payment-system
spec:
  ports:
    - port: 7233
      targetPort: 7233
      name: frontend
  selector:
    app: temporal
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: temporal
  namespace: payment-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: temporal
  template:
    metadata:
      labels:
        app: temporal
    spec:
      containers:
        - name: temporal
          image: temporalio/auto-setup:latest
          ports:
            - containerPort: 7233
          env:
            - name: DB
              value: postgresql
            - name: DB_PORT
              value: "5432"
            - name: POSTGRES_USER
              value: temporal
            - name: POSTGRES_PWD
              value: temporal
            - name: POSTGRES_SEEDS
              value: postgresql
